@model MaestWebStore.Models.StoreEntities

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_MainLayoutPage.cshtml";
}

<h1 class="text-muted">@ViewBag.ListType</h1>
<div class="row" id="grid">
    @Html.DisplayFor(s => s.Games)
</div>

