@model MaestWebStore.Models.StoreEntities

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_MainLayoutPage.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row" id="grid">
        @Html.DisplayFor(g => g.Games)
    </div>
}